@model ProjetDotNet.Models.Classrooms

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Classrooms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Establishments.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Establishments.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Years.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Years.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
