@model ProjetDotNet.Models.Periods

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Periods</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Years.Id)
        </dt>

        <dd>
            <p>
                @Html.DisplayFor(model => model.Years.Year) |
                @Html.ActionLink("Fiche Year", "", "Years/Details/" + Model.Year_Id)
            </p>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Begin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Begin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour", "Index") |
    @Html.ActionLink("Nouvelle évaluation", "", "Evaluations/Create")
</p>
