@model ProjetDotNet.Models.Evaluations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evaluations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classrooms.Title)
        </dt>

        <dd>
            <p>
                @Html.DisplayFor(model => model.Classrooms.Title) |
                @Html.ActionLink("Fiche Classe", "", "Classrooms/Details/" + Model.Classroom_Id)
            </p>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periods.Begin)
        </dt>

        <dd>
            <p>
                @Html.DisplayFor(model => model.Periods.Begin) |
                @Html.ActionLink("Fiche Period", "", "Periods/Details/" + Model.Period_Id)
            </p>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periods.End)
        </dt>

        <dd>
            <p>
                @Html.DisplayFor(model => model.Periods.End) |
                @Html.ActionLink("Fiche Period", "", "Periods/Details/" + Model.Period_Id)
            </p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </dt>

        <dd>
            <p>
                @Html.DisplayFor(model => model.Users.UserName) |
                @Html.ActionLink("Fiche Ustilisateur", "", "Users/Details/" + Model.User_Id)
            </p>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoint)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour", "Index") |
    @Html.ActionLink("Nouveau résultat", "", "Results/Create")
</p>
